body {
    font-family: 'Lato', sans-serif;
}
//please change the colors
.modal {
    display: none; /*hidden*/
    position: fixed;
    z-index: 1; /*stay on top*/
    padding-top: 65px;
    padding-bottom: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /*full h and w*/
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /*for now*/
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
    from{top: -300px; opacity: 0;}
    to {top:0; opacity: 1;}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity: 1;}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-image: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
    color: white;
}
.modal-body {
    padding: 2px 16px;
}
.name {
    margin-left: 16px;
    margin-top: 25px;
    width: 100px;
    color: black;
    font-size: 18px;
}
.firstname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 0px;
    padding: 0 22px;
    font-size: 13px;
    color: black;
    width: 450px;
}

.event {
    position: relative;
    left: 200px;
    top: -37;
    line-height: 40px;
    border-radius: 0px;
    padding: 0 10px;
    font-size: 13px;
    color: black;
    width: 450px;
}
.option, .option-event, .option-pos{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 450px;
    height: 40px;
    border-radius: 0px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}
.option option {
    font-size: 13px;
}
.date {
    position: relative;
    left: 200px;
    top: -37;
    line-height: 30px;
    border-radius: 0px;
    padding: 0 10px;
    font-size: 13px;
    color: black;
    width: 450px;
}
button {
    background-color: #0000009c;
    display: block;
    margin: 15px 0px 0px 15px;
    text-align: center;
    border-radius: 22px;
    padding: 18px 300px;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-weight: 500;
}
button:hover {
    background-color: #ffffff;
    color: black;
}
